body{
  font-family: 'Montserrat';
}
#title{
  background-color: #ff4c68;
}
h1{
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}
h2{
  font-family: 'Montserrat-Black',sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}
.container-fluid{
  padding: 3% 15% 7%;
}
#btn1{
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 15px;
}

#btn2{
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  border-color: white;
}
#btn2:hover{
  color: Black;
}

.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  color: white;
  font-weight: bold;
  font-style: normal;
  font-size: 2.5rem;
}
.navber-item{
  padding-left: 18px;
  padding-right: 18px;
}

.navbar-link{
  font-family: 'Montserrat-light';
  font-size: 1.2rem;
}

.Download{
  margin:5% 3% 5% 0;
}
.title-img{
  width:60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
.positioning{
  position: relative;
}

/* features */
#features{
  padding: 7% 15%;
  background-color:#fff;
  position: relative;
  z-index: 1;
}
.icon{
  color: #ef8172;
  font-size: 3.8rem;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
.fat-h3{
  font-family: 'Montserrat',serif;
  font-weight:600;
  font-size: 1.5rem;
}
.fet-p{
 color: #8f8f8f;
}

.feature-box{
  margin: 50px 0;
  padding: 0 40px;
  text-align: center;
}


/* testimonials */
#testimonials{
  text-align: center;
  background-color: #ff4c68;
  color: white;
}
.carousel-item{
  padding: 7% 15%;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color:  #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 13%;
  margin: 20px 20px 50px;
}
/* .button{
  padding: 0.8rem 8rem;
} */

#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-col{
  padding: 3% 2%;
}

@media (max-width:1261px) {
  .title-img{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }

}
 /* Call to Action */
 #cta{
   background-color: #ff4c68;
   padding: 40px 20px 40px;
   text-align: center;
   padding: 6% 20%;
 }
 .header{
     font-family: 'Montserrat-Black', sans-serif;
     font-size: 3.5rem;
     line-height: 1.5;
     color: white;
     font-weight: 750;
 }
/* .btn{
  margin-top: 4%;
  margin-left: 6%;
  padding: 10px 40px;
} */
/* footer */
#footer{
  text-align: center;
  padding: 40px;
  background-color: #fff;
}
.footer-icon{
  margin: 0 9px;
}
.p-footer{
  margin-top: 5px;
}
